/* Breadcrumb Bar Styles */

#breadCrumb {
	margin: 0;
	margin-bottom: 5px;
	padding: 3px;
	float: left;
	display: block;
	height: 21px;
	overflow: hidden;
	width: 99%;
	border:solid 1px #dedede;
	background:#fff;
}
#breadCrumb ul {
	margin: 0;
	padding: 0;
	height: 21px;
	display: block;
}
#breadCrumb ul li {
	display: block;
	float: left;
	position: relative;
	height: 21px;
	overflow: hidden;
	line-height: 21px;
	margin: 0px 6px 0px 0;
	padding: 0px 10px 0px 0;
	font-size: 8pt;
	background: url("/images/Chevron.gif") no-repeat 100% 0;
}
#breadCrumb ul li a {
	display: block;
	position: relative;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	float: left;
}
#breadCrumb ul li a img {
    vertical-align: middle;
    margin-right: 2px;
}

#breadCrumb ul li.last {
	background: none;
	margin-right: 0;
	padding-right: 0;
}