/* common.css */
/* Reset everything first */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* Global Elements */
html, body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    line-height: 16pt;
    z-index: -9999;
    background-color: #757575;
    background: -moz-radial-gradient(circle, #999999, #757575);
    background: -webkit-radial-gradient(circle, #999999, #757575);
}

img {
    border: none;
}

a {
    color: #0000CC;
    text-decoration: underline;
}

a:hover {
    color: #000000;
}

h1 {
    clear: both;
    font-size: 18pt;
    margin: 5px 0px 5px 0px;
    padding: 5px 5px 5px 0px;
    color: #000000;
}

h2 {
    clear: both;
    font-size: 14pt;
    margin: 5px 0px 5px 0px;
    padding: 5px 5px 5px 0px;
    color: #666666;
}

h3 {
    font-size: 12pt;
    margin: 10px 0 0 0;
    padding: 5px 0px 5px 0px;
    font-weight: normal;
}

p {
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
}

pre {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    background-color: #EAEAEA;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

input {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    padding: 3px 3px 3px 3px;
    width: 200px;
    outline: none;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 2px;
}

input:focus {
    outline: none;
    border-color: #520530;
    border-style: solid;
    border-width: 2px;
}

input[type="checkbox"] {
    width: 20px;
}

input[type="radio"] {
    width: 20px;
}

select {
    outline: none;
    border-color: #555555;
    border-style: solid;
    border-width: 1px;
    margin-top: 0px;
}

textarea {
    width: 95%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    line-height: 12pt;
    padding: 5px 5px 5px 5px;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 2px;
}

textarea:focus {
    outline: none;
    border-color: #FF6633;
    border-style: solid;
    border-width: 2px;
}

/* Page Structure */

#wrapper {
    position: relative;
    width: 95%;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    overflow: auto;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radios-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#moduleContent {
    position: relative;
    float: left;
    margin-left: 10px;
    width: 80%;
}

#moduleTitle {
    font-weight:bold;
    font-size:18px;
    padding: 5px 5px 5px 5px;
    background-color: #E0D9C7;
}

/* Jquery overrides */
.ui-widget {
    font-size: 0.9em;
}

div#workflowErrors {
    background-color: red;
    color: white;
    font-weight: bold;
    margin: 1em 0;
    padding: 3px;
}

label.error {
    color: red;
}

input.error,
select.error {
    border: 3px solid red;
}

span.error {
    background-color: salmon;
    float: right;
}

.errorBox {
    margin-bottom: 0.5em;
    padding: 0.25em 1em 0.25em 80px;
    background: #f3f0ee;
    color: #333;
    min-height: 40px;
    max-height: 62px;
    overflow: auto;
}

.field {
    display: block;
    margin-bottom: 0.5em;
    clear: left;
}

.field .label,
.field .data,
.field .input,
.field .change {
    display: inline;
    vertical-align: middle;
}

.field .label {
    float: left;
    width: 30%;
    margin-right: 1ex;
    text-align: right;
}

.field .data,
.field .input {
    width: 52%;
    margin-right: 1ex;
}

.field .change {
    width: 16%;
}

.hidden {
    display: none;
}

div.submitButtons {
    clear: both;
    margin: 10px 0 0 31%;
    padding-bottom: .5em;
}

/* buttons */
button, .button {
    background-color: #520530;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin: 2px 2px 2px 0px;
    padding: 3px 5px 3px 5px;
    font-family: Helvetica, Arial;
    font-size: 9pt;
}

button:hover, .button:hover {
    background-color: #e11838;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

a.button {
    text-decoration:none
}

/* tables */
table {
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 10pt;
    width: 100%;
    text-align: left;
}

th {
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    padding: 2px 0px 2px 0px;
    width: 150px;
}

td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

th a {
    color: #FF6633;
    text-decoration: none;
}

tr.row1 {
    background-color: #FFFFFF;
}

tr.row2 {
    background-color: #EAEAEA;
}

/* === Messages === */

.requiredMessage {
    position: relative;
    float: right;
    display: none;
    font-size: 8pt;
    padding: 5px 5px 5px 5px;
    background-color: #ffd6dd;
}

.requiredMessageShow {
    display: inline;
}

.checkRequired {
    background-color: #EAEAEA;
}

.checkRequiredError {
    background-color: #ffd6dd;
    color: #000000;
}

.successMsg {
    background-color: #f9edbe;
    background-image: url("/images/info.gif");
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 7px;
    padding: 5px 5px 5px 25px;
    margin-bottom: 5px;
    border-color: #f0c36d;
    border-style: solid;
    border-width: 1px;
}

.failureMsg {
    background-color: #CC0000;
    background-image: url("/images/info.gif");
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 7px;
    color: #FFFFFF;
    padding: 5px 5px 5px 25px;
    margin-bottom: 5px;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
}

.failureMsg span {
    color: #000000;
}

/* search forms */
.searchForm {
    font-size: 10pt;
    font-weight: normal;
}
.searchForm input.searchString {
    width: 140px;
}
div.contentSearchArea {
     margin: 16px 0px 16px 0px;
 }