/* Header Styles */

#header {
    height: 100px;
    float: left;
    width: 100%;
}
#header div.headerLogo {
    width: 250px;
    float: left;
}
#header div.quickLaunch {
    margin: 16px 0px 0px 0px;
    float: right;
}
#header div.quickLaunch ul li {
    margin-right: 4px;
    float: left;
    font-size: 10pt;
}