/* Navigation Bar Styles */

#navigation {
    font-weight: bold;
    background-color: #DDDDDD;
    width: 220px;
    text-align: left;
    float: left;
    height: 100%;
    vertical-align: middle;
}
#navigation ul li {
    height: 64px;
    margin: 16px 0px 16px 0px;
}
#navigation ul li a img {
    vertical-align: middle;
    margin-right: 2px;
    margin-left: 4px;
}
#navigation div.navSearchArea {
    border-bottom: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
#navigation .searchForm {
    margin: 10px 0px 10px 8px;
}