<?xml version="1.0" encoding="UTF-8"?>
<jsp:root version="2.0"
          xmlns="http://www.w3.org/1999/xhtml"
          xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:c="http://java.sun.com/jsp/jstl/core"
          xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
          xmlns:tiles="http://tiles.apache.org/tags-tiles"
          xmlns:form="http://www.springframework.org/tags/form"
          xmlns:spring="http://www.springframework.org/tags">
    <jsp:output omit-xml-declaration="yes"/>

    <div>
        <p>Show Account Name and other details here and allow user to edit.</p>
    </div>

</jsp:root>